
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    transition: 3 ease;
}

.logo:hover{
    color: rgb(255, 220, 25);
    text-shadow: 0 0 25px rgb(255, 220, 25),
                  0 0 50px rgb(255, 220, 25);
    transform: scale(1.1);
}

.navbar a{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin: 0 80px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover{
    color: rgb(255, 220, 25);
    border-bottom: 3px solid rgb(255, 220, 25);
}

.contact{
    padding: 10px 28px;
    background-color: #fff;
    color: #000;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 3 ease;
}

.contact:hover{
    background-color: rgb(255, 220, 25);
    box-shadow: 0 0 25px rgb(255, 220, 25);
    color: #fff;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content{
    max-width: 800px;
}

.home-content h3{
    font-size: 42px;
}

.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1{
    padding: 15px 28px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: #fff;
    color: black;
    border: 2px solid #000;
}

.btn-2{
    padding: 15px 28px;
    background-color: rgb(255, 220, 25);
    color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2:hover{
    background-color: #fff;
    color: rgb(255, 220, 25);
}

.img-box img{
    border-radius: 50%;
    width: 550px;
}

.contact1{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.jpg);
    background-size: cover;
}

.contact1 .content{
    max-width: 800px;
    text-align: center;
}

.contact1 .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact1 .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: rgb(255, 220, 25);
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    margin: 0;
    padding: 0;
    color: #666;
    padding: 20px;
    border: none;
    
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox  input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}


.contactForm .inputBox h6{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ h6,
.contactForm .inputBox input:valid ~ h6,
.contactForm .inputBox textarea:focus ~ h6,
.contactForm .inputBox textarea:valid ~ h6{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: rgb(255, 220, 25);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(bg3.png);
    background-size: cover;
    background-position: center center;
}

.banner-area h1{
    padding-top: 8%;
    font-size: 70px;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.content-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 800px;
}

.about{
    width: 100%;
    padding: 78px 0px;
}

.about img{
    height: auto;
    width: 420px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.project-banner{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(blueprint.jpg);
    background-size: cover;
    background-position: center center;
}

.project-banner h1{
    padding-top: 8%;
    font-size: 70px;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: brown;
}

.projects-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 1000px;
}

.wrapper h2{
    padding-top: 8%;
    font-size: 50px;
    font-family: 'Poppins' ,sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.wrapper p{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 325px;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .bttn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}



.extras-banner{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(land2.jpg);
    background-size: cover;
    background-position: center center;
}

.extras-banner h1{
    padding-top: 8%;
    font-size: 70px;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.extras-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 1900px;
}

.background h3{
    padding-top: 8%;
    font-size: 50px;
    font-family: 'Poppins' ,sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.background img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer{
    text-align: center;
}